<div class="card">
    <h5 class="card-header"> {{ username }}</h5>
    <div class="card-body">
        <p class="card-text">{{ description }}</p>
        <p>
            {{#each comments as |comment| }}
            <div class="row mb-4 post">
                <div class="col-md-7">
                    <p>
                        {{ comment.description }}
                    </p>
                </div>
            </div>
            <br>
            <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer"> {{ comment.user.username }} posted at {{ format_date comment.date_created }}</footer>
            </blockquote>
            {{/each}}
        </p>
    </div>
</div>